@import url('https://fonts.cdnfonts.com/css/poiret-one');/* шрифты*/

body {
    background-color: black;
    
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
::-webkit-scrollbar {
    display: none;
  }
   

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

h1 {
    font-family: Poiret One;
    color: #EC9F68;
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    text-align: center;

}

h2 {
    font-family: Poiret One;
    color: #EC9F68;
    font-size: 24px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    text-align: center;

}


p {
    font-family: Poiret One;
    color: #fff;
    text-align: center;
}

#table1,table{
    width:100%;
    border: 10%;
    
}

#table1,table, th, td {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    border: 1px solid #FFFFFF;
  }
  #table1,ul{
    text-align: left;
    color:white;
    font-family: Poiret One;
}


#scroll-animate
{
  overflow: hidden;
}

#scroll-animate-main
{
  width: 100%;
  left: 0;
  position: fixed;
}

#heightPage,
#heightScroll
{
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage
{
  left: 0;
}

#heightScroll
{
  right: 0;
}

header
{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #222222 2.43%, rgba(34, 34, 34, 0) 18.94%),url(../static/img/photo_2024-02-26_23-40-37.jpg);
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  position: fixed;
  z-index: -1;
  color: #FFFFFF;

}

#name{
    color: #FFFFFF;
    font-family: Poiret One;
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;    
}

#motivation{
font-size: 75px;
font-weight: 400;
line-height: 88px;
letter-spacing: 0em;
background: #00000041;
padding: 1px;

position: absolute;
top: 50%;
left: 50%;
margin: 0;
margin-right: -50%;
transform: translate(-50%, -50%);
}

#photo1 {
  display: block;
  position: relative;
  width: 50%;
}
.photo2 {
    width: 682px;
    height: 833px;
}
#gr {
    background: linear-gradient(90deg, #222222 0%, rgba(34, 34, 34, 0) 48.34%);
    display: flex;
    margin-top: 5%;
}

footer
{
  width: 100%;
  height: 25%;
  background: gray;
  bottom: -300px;
  position: fixed;
  z-index: -1;
}

.content
{
  background: #222222;
  position: relative;
  z-index: 1;
}

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}


header,
footer,
#scroll-animate-main
{
  -webkit-transition-property: all;
     -moz-transition-property: all;
      transition-property: all;

  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
}
/* ого кнопка */
.btn-5 {

    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    color: #ffffff;
    border: 1px solid #fff;
    cursor: pointer;
    letter-spacing: 2px;
    position:sticky;
    overflow:hidden;
    margin: 20px 20px;
    left: 80%;
  }

  .btn-5:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    background : #EC9F68;
    color: #FFFFFF;
    left: 0;
    bottom: 0;
    transition: all .3s;
    opacity: 0.3;
  }

  .btn-5:hover:before {
    width: 100%;
  }
  
  #hashtag{
    color: #EC9F68;
    size: 48px;
    font-family: Poiret One;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 0%;
  }

#dom{
    width: 100%;
    height: auto;
    opacity: 0.88px;
}

/*изображение с лева*/
.leftimg{
    /*max-width: 827px;
    max-height: 500px;*/
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}

.rightimg{
    /*max-width: 827px;
    max-height: 500px;*/
    float:right; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}

#niz{
    width: 827px;
    height: 500px;
}

button[type=submit] {
    float:center;
    background-color:  #EC9F68;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

}

.btn-4 {
    border-radius: 77px;
    background: #EC9F68;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    border: 1px solid #fff;
    cursor: pointer;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
    margin: 0 20px;


}
.btn-4:hover:before {
    background: #ed8f4c;

}

/*photo*/
#block-for-slider {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}


/* Модальное окно*/

.popup-fade {
	display: none;
}
.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}

.popup {
	position: fixed;
	top: 20%;
	left: 50%;
	padding: 20px;
	width: 360px;
	margin-left: -200px;	
	background: #929191;
	z-index: 99999;
	opacity: 1;	
  text-align: center;
}
.popup-close {
	position: absolute;
	top: 10px;
	right: 10px;
}

.close {
  display: block;
  width: 50px;
  height: 30px;
  --weight: 3px;
  --aa: 1px; /* anti-aliasing */
  --color: red;
  border-radius: 3px;
  background:
    linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))),
    linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

#foot{
  margin: 5% 2px;
}