<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logo.svg" type="image/x-icon">
    <title>CIRCLE HOUSE</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>

<body style="background: #222222;">       

    <!-- <div class="preloader">
        <div class="preloader__loader">
            <img src="loader.gif" alt="" />
        </div>
    </div> -->

    <button class="up-button">
        <svg class="svgIcon" viewBox="0 0 384 512">
            <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"
            ></path>
        </svg>
    </button>
        

    <h1 id ="name" style="line-height: 10px;">CIRCLE HOUSE</h1>

    <header>
        <p id="motivation"> ВОПЛОТИ <br>
            СВОЮ МЕЧТУ<br>
            В РЕАЛЬНОСТЬ</p>
    </header>
    <div class="btn-5">
        ВЫБРАТЬ ДОМ
    </div>                    

    <div>
        <div class="ticker-container"><p id="hashtag" class="ticker-text">#НАДЕЖНО  #КОМФОРТНО  #КРАСИВО  #БЫСТРО  </p></div>
        <img id="dom" src="../static/img/item1.jpg">
    </div>
    <h1 id="advantages">НАШИ ПРЕИМУЩЕСТВА</h1>
    <div id="table-div">
        <div>
            <table id="table1">
                <tr>
                    <td><h2>КАЧЕСТВЕННЫЕ МАТЕРИАЛЫ</h2><p>Все строительные материалы, используемые в процессе производства, прошли тщательную проверку до применение в строительство и имеют актуальные сертификаты соответствия современным стандартам.</p></td>
                    <td><h2>СОБСТВЕННЫЙ ДИЗАЙН</h2><p>Уникальный дизайн дома, разработан опытными специалистами. Покупая наш дом, будьте уверены в своей индивидуальности!</p></td>
                    <td><h2>ПОЖИЗНЕННОЕ ОБСЛУЖИВАНИЕ</h2><p>Мы предлагаем ежегодное обслуживание конструкции с пожизненной гарантией.</p></td>
                </tr>
                <tr>
                    <td><h2>ГОТОВЫЙ ДОМ ДО 60 ДНЕЙ</h2><p>Процесс строительства и отделки дома занимает максимум 60 дней, без учета праздников и выходных. </p></td>
                    <td><h2>ДОМ ЭКОНОМИТ ЭЛЕКТРОЭНЕРГИЮ</h2><p>По сравнению с обычным домом той же площади нужно прогреть намного меньший объем – дом прогревается быстрее, тратит меньше электроэнергии и в случае отключения электричества бензина в генераторе хватит на большее время</p></td>
                    <td><h2>ДОМ РАЗРАБОТАН ДЛЯ БЕЗОПАСНОЙ ЖИЗНИ</h2><p>Выдвижные дверь и окна невозможно взломать Подходит для жизни в местах частого разливала рек, а также безопасен при урагана и сходе снежных лавин, что позволяет безопасно жить в горах.</p></td>
                </tr>
            </table>
        </div>
    </div>


    <div id="table-div">
        <div id="skip"></div>
        <h1 id="models-homes">МОДЕЛИ ДОМОВ</h1>
        <p style="font-size: xx-large; text-align: center;">На данный момент мы предлагаем дома двух комплектаций</p>
        <div>
            <table id="table1">
                <tr>
                    <td class="spec-table-photo"><img class="photo2" src="../static/img/A72SryejmRGKiX8RZpDjF-transformed 1.svg"></td>
                    <td class="spec-table">
                        <p class="spec-table">10-метровый</p>
                        <ul>
                        <li>Фундамент - шведская плита</li><br>
                        <li>Наружная оболочка(стены с утеплителем)</li><br>
                        <li>Внутренняя отделка(фанера, ГВЛ)</li><br>
                        <li>Внешняя отделка(фасадная штукатурка, латексная шпаклевка)</li><br>
                        <li>Дверь распашная</li><br>
                        <li>Зенитное окно(глухой стеклопакет с колпаком)</li></ul>
                        <h2 class="cost">от 6 999 000</h2>
                        <section  class="center">
                            <div class="btn-4" id="form-button">
                                ОСТАВИТЬ ЗАЯВКУ
                            </div>
                        </section>
                        
                    </td>
                </tr>
                <tr>
                    
                    <td class="spec-table">
                        <p class="spec-table">6-метровый</p>
                        <ul>
                        <li>Шведская плита или свайный фундамент (9 свай)</li><br>
                        <li>Наружная оболочка(стены с утеплителем)</li><br>
                        <li>Внутренняя отделка(фанера, ГВЛ)</li><br>
                        <li>Внешняя отделка(фасадная штукатурка, латексная шпаклевка)</li><br>
                        <li>Дверь распашная</li><br>
                        <li>Зенитное окно(глухой стеклопакет с колпаком)</li></ul>
                        <h2 class="cost">от 3 999 000</h2>
                        <section  class="center">
                            <div class="btn-4" id="form-button">
                                ОСТАВИТЬ ЗАЯВКУ
                            </div>
                        </section>
                    </td>
                    <td class="spec-table-photo"><img class="photo2" src="../static/img/A72SryejmRGKiX8RZpDjF-transformed 1.svg"></td>
                </tr>
            </table>
        </div>              
    </div>
    <div id = "gr" id="r1">
        <img class="leftimg" id="photo1" src="../static/img/photo_2024-02-26_23-17-28.jpg">
        <img class="rightimg" id="photo1" src="../static/img/photo_2024-02-26_23-17-27.jpg">  
    </div>

    <div id="skip"></div>

    <div id="table-div">
        <h1># ДЛЯ БИЗНЕСА</h1>
        <table id="table1">
            <tr>
                <td>   
                    <ul>
                    <h2>ГОСТИНИЧНЫЙ БИЗНЕС </h2>
                    <li>База отдыха </li>
                    <li>Глэмпинг</li>
                    <li>Гостиничный номер</li>
                    <li>Детский лагерь</li>
                    <li>Кемпинг</li>
                    <li>Пансионат</li>
                    </ul>  
                </td>
                <td>
                    <h2>СПОРТ</h2>
                    <ul>
                    <li>Скалодром</li>
                    <li>Спортзал</li>
                    <li>Студия йоги</li>
                    <li>Танцевальная студия</li>
                    <li>Фитнес-центр</li>
                    </ul>
                    
                </td>
                <td>
                    <h2>ОТДЫХ</h2>
                    <ul>
                    <li>Баня, сауна</li>
                    <li>Бассейн</li>
                    <li>Квеструм</li>
                    <li>Кинозал</li> 
                    <li>Помещение для репетиций</li>
                    <li>СПА</li>
                </ul>
            </tr>
            <tr>
                <td>
                    <h2>ЧАСТНОЕ ЖИЛЬЁ</h2>
                    <ul>
                    <li>Беседка</li>
                    <li>Гараж</li> 
                    <li>Кабинет</li> 
                    <li>Частный дом</li>
                    <li>Шале</li>
                </ul>
                </td>
                
                    
                <td>
                    <h2>НЕЖИЛАЯ КОММЕРЧЕСКАЯ НЕДВИЖИМОСТЬ</h2>
                    <ul>
                    <li>Выставочное пространство</li>
                    <li>Кафе</li> 
                    <li>Киоск</li>
                    <li>Магазин</li>
                    <li>Офис</li</ul>
                    </td>
                <td>
                    <h2>ТЕХНИЧЕСКОЕ ПОМЕЩЕНИЕ</h2>
                    <ul>
                    <li>Ангар</li>
                    <li>Оранжерея</li>
                    <li>Склад</li>
                    <li>Теплица</li>
                </ul>
            </td>
            </tr>
        </table>
    </div>

    <div id="skip"></div>
    <div id="table-div">
        <h1>ЭТАПЫ РАБОТЫ С НАМИ</h1>
        <table id="table1">
            <tr>
                <td><img><h2>ЗАКЛЮЧЕНИЕ ДОГОВОРА</h2><p>Детально обсудим проект и подпишем бумаги.</p></td>
                <td><img><h2>СТРОИТЕЛЬСТВО</h2><p>Построим дом на вашем участке в срок до 60 дней.</p></td>
                <td><img><h2>ПРИЕМ РАБОТЫ</h2><p>Подписание акта приемки работ по каждому этапу строительства</p></td>
            </tr>
        </table>
    </div>

    <div id="skip"></div>
    <div>
        <h1># ФОТОГАЛЕРЕЯ</h1>
        

        <section class="center" id="gallery">
            <div class="gallery-wrap">
                <div class="item item-1"></div>
                <div class="item item-2"></div>
                <div class="item item-3"></div>
                <div class="item item-4"></div>
                <div class="item item-5"></div>
            </div>
        </section>
        <div id="gallery-container">
            <div class="gallery-table">
              <div class="item item-1" id="gallery-cell"></div>
              <div class="item item-2" id="gallery-cell"></div>
              <div class="item item-3" id="gallery-cell"></div>
              <div class="item item-4" id="gallery-cell"></div>
              <div class="item item-5" id="gallery-cell"></div>
            </div>
          </div>
    </div>
        
    <div id="skip"></div>
    
    <h1 id="questions">ОСТАЛИСЬ ВОПРОСЫ?</h1>
    <h2>ЗАПОЛНИТЕ ФОРМУ ОБРАТНОЙ СВЯЗИ</h2>
    
    <div style="height: 40px; width: 100%;"></div>
    <section class="center">
        <div class="form-container">
            <form class="form">
                <div class="form-group">
                    <label for="username">Ваше имя</label>
                    <input required="" name="name" id="form-name" type="text">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input required="" name="email" id="email" type="text">
                </div>
                <div class="form-group">
                    <label for="phone">Телефон</label>
                    <input required="" name="phone" id="email" type="text">
                </div>
                <button type="submit" class="form-submit-btn">Отправить</button>
            </form>
        </div>
    </section>
                
    <!-- <div id="skip"></div>

    <footer class="footer">
    <div class="str3-2 str_wrap">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-google"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-pinterest"></a>
    <a href="#" class="fa fa-snapchat-ghost"></a>
    <a href="#" class="fa fa-skype"></a>
    <a href="#" class="fa fa-android"></a>
    <a href="#" class="fa fa-dribbble"></a>
    <a href="#" class="fa fa-vimeo"></a>
    <a href="#" class="fa fa-tumblr"></a>
    <a href="#" class="fa fa-vine"></a>
    <a href="#" class="fa fa-foursquare"></a>
    <a href="#" class="fa fa-stumbleupon"></a>
    <a href="#" class="fa fa-flickr"></a>
    <a href="#" class="fa fa-yahoo"></a>
    <a href="#" class="fa fa-reddit"></a>
    <a href="#" class="fa fa-rss"></a>
    </div>
    </footer> -->

    <div class="preloader">
        <div class="preloader__loader">
            <div class="spinner-grow text-danger" role="status" style="width: 4rem; height: 4rem;">
                <span class="sr-only">Загрузка...</span>        
            </div>
        </div>
    </div>

    <style>
        .preloader {
            background-color: #fff;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1000;
        }
        .preloader__loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
        }
        </style>

    <script>
        // загрузка
        jQuery(document).ready(function($) {
            $(window).on('load', function () {
                var $preloader = $('.preloader'),
                    $loader = $preloader.find('.preloader__loader');
                $loader.fadeOut();
                $preloader.delay(250).fadeOut(200);
            });
        });
        </script>
            
</body>

<!-- <script src="../static/footer.js"></script> -->
<script src="../static/script.js"></script>
<script src="../static/photo.js"></script>

</html>